<p>
  <b>Name:</b>
  <%= @support.guest_name %>
</p>

<p>
  <b>Email:</b>
  <%= @support.guest_email %>
</p>

<p>
  <b>Prize:</b>
  <%= @support.prize %>
</p>

<p>
  <b>Project ID:</b>
  <%= @support.project_id %>
</p>

