/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

/*-----------------------------------------------
 *  __default style clear
 *-----------------------------------------------*/
* {
	margin:0;
	padding:0;
}

body { 
	font: 14px/24px 'Helvetica Neue', Arial, sans-serif;
	font-size:74.5%;
	font-family:verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
   	color: #333; 
	width: 984px; 
	margin: 0.5em auto 60px; 
	background: #fff 
}
body > h2 { margin: 30px 0 15px; text-shadow: 1px 1px 0 white; border-bottom: 2px solid #333; padding-bottom: 5px }

p {
}

li {
	list-style:none;
}

img, fieldset {
	border:0;
}


#common-header .fb_iframe_widget iframe {
	display:none;
}

.clear{ clear: both; visibility: hidden; height: 0;}

/*-----------------------------------------------
 *  __Base Link Color Setting
 *  -----------------------------------------------*/
a {
	color:#8986FF;
}

a:link {
}

a:visited {
}

a:hover {
}

a:active {
}

/*-----------------------------------------------
 *  __header
 *  -----------------------------------------------*/

#common-header {
	margin-bottom:1em;
	height:auto;
	position:relative;
}

#logo {
	float:left;
	width:30%;
	background-image: url("logo.png");
	width:205px;
	height:75px;
	position: absolute;
	bottom: 0;
}

#logo span {
	display:none;
}

#side-header {
	padding-top:1em;
	float:right;
	width:30%;
	text-align:right;  
}

/*-----------------------------------------------
 *  __common-footer
 *  -----------------------------------------------*/

#common-footer {
	clear:both;
	margin-bottom:15px;
	padding:10px;
}

#common-footer ul {
	margin:0 auto 5px;
	text-align:center;
}

#common-footer ul li {
	display:inline;
	margin-right:5px;
	padding-left:10px;
	line-height:1.1;
	border-left:1px solid white;
}

#common-footer ul li.utilityHome {
	border-left:0;
}

#common-footer p#copyright {
	text-align:center;
	margin-bottom:0;
}

/* __main
 * ------------------------------------------*/

#main-content {
	color:black;
}

#main-content div {
	padding:4px;
	background: #fff;
}

#main-content a {
	color:blue;
}

/* __other
 * ------------------------------------------*/
table.table_pj{
	width: 640px;
}
.table_pj td{
	padding: 10px 4px;
}

